# Pandas

This module assumes you've had some previous exposure to Pandas (so, we're not going into detail about what a dataframe is, for instance), but it's all right if you don't remember all the details. 

First, we'll import Pandas in the traditional way:

In [1]:
import pandas as pd

Next, we'll read a CSV into a dataframe. 

In this case, we're using the "lifetime" dataset of Allegheny County dog licenses from the [Western PA Regional Data Center](https://data.wprdc.org/dataset/allegheny-county-dog-licenses). The only change I've made to this file, prior to importing it, was changing the filename to "dog_licenses.csv." Otherwise, the data, column headers, etc. are all the same as the file at WPRDC.

In [2]:
# you have to love how easy it is to pull a CSV into a dataframe
# (you make your life MUCH easier if you deal with datetimes on input)
licenses = pd.read_csv("dog_licenses.csv", parse_dates=["ValidDate"])

# show the beginning of the file
licenses.head()

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Lifetime Neutered Male,POODLE MIN,WHITE/BLACK/GREY,BAILEY,15137,2099,2005-08-08
1,Dog Lifetime Neutered Male,AM PIT BULL TERRIER,BRINDLE,SPENCER,15045,2099,2006-03-07
2,Dog Lifetime Spayed Female,DALMATIAN,SPOTTED,CLEO,15110,2099,2005-08-08
3,Dog Senior Lifetime Neutered Male,COCKER SPANIEL,BUFF,HARLEY,15236,2099,2005-08-08
4,Dog Lifetime Spayed Female,CHIHUAHUA,WHITE/BROWN,ANGEL,15216,2099,2005-08-08

Pandas will tell us the facts we need to know about our data.

In [3]:
print("Shape, (rows, columns):", licenses.shape, "\n")
print("Size:", licenses.size, "\n")
print("Data type of items:", licenses.dtypes, "\n")

Shape, (rows, columns): (33156, 7)

Size: 232092

Data type of items: LicenseType            object
Breed                  object
Color                  object
DogName                object
OwnerZip                int64
ExpYear                 int64
ValidDate      datetime64[ns]
dtype: object

In [4]:
# and we can get descriptive statistics, of a sort,
# for the two columns it considers "numeric"
licenses.describe()

           OwnerZip  ExpYear
count  33156.000000  33156.0
mean   15156.003197   2099.0
std      298.770228      0.0
min    15003.000000   2099.0
25%    15102.000000   2099.0
50%    15137.000000   2099.0
75%    15228.000000   2099.0
max    47909.000000   2099.0

It's good to know about `.describe()`, but honestly, neither of those columns should be described statistically. One's a zip code (a categorical variable, probably best handled as a string), and the other's a year, which is probably OK as an int, provided we don't do silly things like summing or averaging it.

### Changing the data type of a column

Actually, it's really straightforward! (Unless you're changing not-a-datetime to a datetime, which is part of why I try to parse them as I pull them in.)

Tell Pandas which columns you want to change, and use `.astype("type")` to set each one.

In [9]:
# change data type of zip code field to string
licenses["OwnerZip"] = licenses["OwnerZip"].astype("string")

# and, actually, we should really make our other strings into string types, too
cols_list = ["LicenseType", "Breed", "Color", "DogName"]
licenses[cols_list] = licenses[cols_list].astype("string")

licenses.dtypes

LicenseType            string
Breed                  string
Color                  string
DogName                string
OwnerZip               string
ExpYear                 int64
ValidDate      datetime64[ns]
dtype: object

## Using `.groupby()`

`.groupby()` gives us the ability to look at our data in subsets and run functions on combinations of our data. 

The syntax is
```Python
smaller_df = primary_df.groupby("column_to_be_grouped")["column_to_operate_on"].function()
```

### grouping by a single column

Let's count how many dogs are in each zip code. In this case, the "column_to_operate_on" is literally any column, since we're just counting.

In [44]:
dogs_by_zip = licenses.groupby("OwnerZip")["DogName"].count()
dogs_by_zip.head()

OwnerZip
15003    28
15005    43
15006     6
15007     9
15012     2
Name: DogName, dtype: int64

In [11]:
# hmm
type(dogs_by_zip)

pandas.core.series.Series

Often you'd really rather have a dataframe to work with than a series. If so, you can use `as_index=False` to make your groups back into a column (or, as you'll see, columns) in their own right.

In [12]:
dogs_by_zip = licenses.groupby("OwnerZip", as_index=False)["DogName"].count()
dogs_by_zip.head()

  OwnerZip  DogName
0    15003       28
1    15005       43
2    15006        6
3    15007        9
4    15012        2

#### Renaming our columns

Unsurprisingly, we use `.rename()`, but perhaps-surprisingly, it takes a dictionary as its input:
```Python
df = df.rename(columns = {"old_column_name1" : "new_column_name1", "ocn2" : "ncn2", ...})
```

The column where we keep the counts probably shouldn't be called "DogName" anymore.

In [13]:
dogs_by_zip = dogs_by_zip.rename(columns = {"DogName" : "Count"})
dogs_by_zip.head()

  OwnerZip  Count
0    15003     28
1    15005     43
2    15006      6
3    15007      9
4    15012      2

In [14]:
# OK, how many are there in Downtown (15219)?
dogs_by_zip[dogs_by_zip.OwnerZip == "15219"]

   OwnerZip  Count
96    15219     12

### grouping by multiple columns

You need to pass in your list of columns as, well, a list. 

In the example below, we count how many dogs there are by zip code and by breed. So, then, if we want to know how many poodles are in a particular zip code, we can do that.

In [15]:
zab_df = licenses.groupby(["OwnerZip", "Breed"], as_index=False)["DogName"].count()
zab_df = zab_df.rename(columns = {"DogName" : "Count"})
zab_df.head()

  OwnerZip                Breed  Count
0    15003  AM PIT BULL TERRIER      1
1    15003     AM PITT BULL MIX      1
2    15003         AUS SHEPHERD      1
3    15003         BICHON FRISE      1
4    15003  ENG SPRINGER SPANIE      3

#### A good trick: `.str.contains()`

We can look for substrings within our columns if we want to. Say you want to look for all pitt bulls (and pitbulls), including mixes with other breeds. Not a problem.

In [16]:
# how many pitbulls live near CCAC North?
pitties = zab_df[zab_df['Breed'].str.contains('PIT')]
pitties_by_north_campus = pitties[pitties.OwnerZip == "15237"]

print("Total pitties by North Campus:", sum(pitties_by_north_campus.Count), "\n")
print(pitties_by_north_campus) # there's a reason I don't always explicitly print dfs

Total pitties by North Campus: 42

     OwnerZip                Breed  Count
5947    15237  AM PIT BULL TERRIER     21
5948    15237     AM PITT BULL MIX     21

In [17]:
# I did say "poodles," though
oodles = zab_df[zab_df["Breed"].str.contains("OODLE")]
CCAC_North_area_poodle_mixes = oodles[oodles.OwnerZip == "15237"]
CCAC_North_area_poodle_mixes

     OwnerZip            Breed  Count
6015    15237     GOLDENDOODLE     55
6029    15237      LABRADOODLE     22
6053    15237       POODLE MED      1
6054    15237       POODLE MIN      2
6055    15237       POODLE MIX     17
6056    15237  POODLE STANDARD     20
6057    15237       POODLE TOY      3
6071    15237        SCHNOODLE      6

In [18]:
sum(CCAC_North_area_poodle_mixes.Count)

126

## Reorganizing columns

Surprisingly easy, actually. Say you have a dataframe with three columns, "b", "c", and "a", and they're in that order, which is not the order you want.
```Python
df = df[["a", "b", "c"]]
```

In [19]:
licenses.head()

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Lifetime Neutered Male,POODLE MIN,WHITE/BLACK/GREY,BAILEY,15137,2099,2005-08-08
1,Dog Lifetime Neutered Male,AM PIT BULL TERRIER,BRINDLE,SPENCER,15045,2099,2006-03-07
2,Dog Lifetime Spayed Female,DALMATIAN,SPOTTED,CLEO,15110,2099,2005-08-08
3,Dog Senior Lifetime Neutered Male,COCKER SPANIEL,BUFF,HARLEY,15236,2099,2005-08-08
4,Dog Lifetime Spayed Female,CHIHUAHUA,WHITE/BROWN,ANGEL,15216,2099,2005-08-08

In [20]:
licenses2 = licenses[["OwnerZip", "DogName", "Breed", "Color", "LicenseType", "ExpYear", "ValidDate"]]
licenses2.head()

,OwnerZip,DogName,Breed,Color,LicenseType,ExpYear,ValidDate
0,15137,BAILEY,POODLE MIN,WHITE/BLACK/GREY,Dog Lifetime Neutered Male,2099,2005-08-08
1,15045,SPENCER,AM PIT BULL TERRIER,BRINDLE,Dog Lifetime Neutered Male,2099,2006-03-07
2,15110,CLEO,DALMATIAN,SPOTTED,Dog Lifetime Spayed Female,2099,2005-08-08
3,15236,HARLEY,COCKER SPANIEL,BUFF,Dog Senior Lifetime Neutered Male,2099,2005-08-08
4,15216,ANGEL,CHIHUAHUA,WHITE/BROWN,Dog Lifetime Spayed Female,2099,2005-08-08

### Removing a column

There are two ways. You could do what we did above, and just leave a column out (for a dataframe with columns "a", "b", and "c":

```Python
df = df[["a", "b"]]
```

But most dataframes have more than three columns, probably, so instead we use `.drop()`:

```Python
df = df.drop("c", axis = 1) #axis tells it you're doing a column

# OR

df = df.drop(columns=["c"])
```

In [21]:
licenses2 = licenses2.drop(columns=["ExpYear"])
licenses2 = licenses2.drop("ValidDate", axis = 1)
licenses2.head()

,OwnerZip,DogName,Breed,Color,LicenseType
0,15137,BAILEY,POODLE MIN,WHITE/BLACK/GREY,Dog Lifetime Neutered Male
1,15045,SPENCER,AM PIT BULL TERRIER,BRINDLE,Dog Lifetime Neutered Male
2,15110,CLEO,DALMATIAN,SPOTTED,Dog Lifetime Spayed Female
3,15236,HARLEY,COCKER SPANIEL,BUFF,Dog Senior Lifetime Neutered Male
4,15216,ANGEL,CHIHUAHUA,WHITE/BROWN,Dog Lifetime Spayed Female

### Adding columns

You may need to create a single new column, often based on a calculation you've done to another column. 

Weirdly enough, you can just add a column by indexing it with the name you want it to have:
    
```Python
df["new_column"] = whatever_pandas_series_or_list_you_want
```

We do have a method for it, too, though:

```Python
# one of the few Pandas operations to happen in place by default
df.insert(position, column_name, list_or_list_of_values, True/False)
```

In [22]:
# Make true/false for whether a dog has been spayed or neutered
neutered = licenses.LicenseType.str.contains("Neutered")
spayed = licenses.LicenseType.str.contains("Spayed")
# weirdly, we have to use bitwise operators to do element-by-element
# comparisons of pandas series
fixed = neutered | spayed

# add the column
licenses.insert(1, "Fixed", fixed, True)
licenses.head()

,LicenseType,Fixed,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Lifetime Neutered Male,True,POODLE MIN,WHITE/BLACK/GREY,BAILEY,15137,2099,2005-08-08
1,Dog Lifetime Neutered Male,True,AM PIT BULL TERRIER,BRINDLE,SPENCER,15045,2099,2006-03-07
2,Dog Lifetime Spayed Female,True,DALMATIAN,SPOTTED,CLEO,15110,2099,2005-08-08
3,Dog Senior Lifetime Neutered Male,True,COCKER SPANIEL,BUFF,HARLEY,15236,2099,2005-08-08
4,Dog Lifetime Spayed Female,True,CHIHUAHUA,WHITE/BROWN,ANGEL,15216,2099,2005-08-08

It's also worth pointing out that you can "broadcast" a scalar value down a column, too.

In [ ]:
licenses["IsGood"] = "Yes"
licenses.head()

### Etc.

In [24]:
dogs_by_zip = licenses.groupby("OwnerZip", as_index=False)["DogName"].count()
dogs_by_zip = dogs_by_zip.rename(columns = {"DogName" : "Count"})
dogs_by_zip.describe()
# average zip code in Allegheny County has 244 dog licenses
# median is 54
# max is 1937

             Count
count   136.000000
mean    243.794118
std     359.950205
min       1.000000
25%       5.000000
50%      53.500000
75%     386.000000
max    1937.000000

In [25]:
most_dogs_by_zip = dogs_by_zip[dogs_by_zip.Count > 200]
most_dogs_by_zip.head()

   OwnerZip  Count
8     15017    381
11    15024    347
12    15025    749
20    15037    797
21    15044   1105

In [61]:
# What are the top names for dalmatians in Allegheny County?

#create Dalmatian df 
dal_df = licenses[licenses['Breed'].str.contains('DALMATIAN')]
dal_df.head()
#type(dal_df)

,LicenseType,Fixed,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
2,Dog Lifetime Spayed Female,True,DALMATIAN,SPOTTED,CLEO,15110,2099,2005-08-08 00:00:00
225,Dog Senior Lifetime Spayed Female,True,DALMATIAN,SPOTTED,MONTANA,15238,2099,2010-08-12 14:30:49
299,Dog Lifetime Neutered Male,True,DALMATIAN,WHITE/LIVER,BOSCO,15120,2099,2010-09-03 11:45:54
623,Dog Lifetime Neutered Male,True,DALMATIAN,WHITE/BLACK,LOUIE,15102,2099,2013-09-16 13:38:06
626,Dog Lifetime Male,False,DALMATIAN,WHITE/BLACK,BLAZE,15147,2099,2013-09-16 14:40:33

In [75]:
dal_names = dal_df["DogName"].unique()
#dal_names

In [67]:
# pull out and count dog names 
dal_name_df = dal_df.groupby(["DogName"], as_index=False)["Breed"].count()
dal_name_df.head()

  DogName  Breed
0   ASHES      2
1   BELLA      1
2   BLAZE      2
3   BOSCO      1
4   BUDDY      1

In [74]:
# rename column 
dal_name_df = dal_name_df.rename(columns = {"Breed" : "Count"})
dal_name_df.head()

  DogName  Count
0   ASHES      2
1   BELLA      1
2   BLAZE      2
3   BOSCO      1
4   BUDDY      1

In [77]:
# pull out names that occur more than once 
top_names = dal_name_df[dal_name_df.Count >1]
top_names

   DogName  Count
0    ASHES      2
2    BLAZE      2
10    CODY      3
38   LOUIE      5
44   MOLLY      2
53   PONGO      2
60  TANNER      2

In [83]:
# What is the ratio of male to female dogs in Allegheny County?
# find total number of dogs 
index = licenses.index
total_dogs = len(index)
print(total_dogs)

33156

In [82]:
# Make true/false for female dogs and create female only df 
females = licenses.LicenseType.str.contains("Female")
female_df = licenses[females]

In [84]:
# find total number of female dogs

female_index = female_df.index
total_females = len(female_index)
print(total_females)

16274

In [92]:
# find total number of male dogs

total_males = total_dogs - total_females
print(total_males)

16882

In [93]:
# print ratio

print("The ration of male dogs to female dogs is:", total_males, "to", total_females)

The ration of male dogs to female dogs is: 16882 to 16274